
/*VARIABLES*/
:root {
  --icon-font-path: "../../webjars/bootstrap/fonts/";

  --spring-green:                           #6db33f;
  --spring-dark-green:                      #5fa134;
  --spring-brown:                           #34302D;
  --spring-grey:                            #838789;
  --spring-light-grey:                      #f1f1f1;
}

/*@font-face {
  font-family: 'piratesFont';
  src: url('../fonts/pirataone-regular.ttf') format('truetype');
}*/

.table > thead > tr > th {
  background-color: lighten(var(--spring-brown), 3%);
  color: var(--spring-light-grey);
}

.table-filter {
  background-color: var(--spring-brown);
  padding: 9px 12px;
}

.nav > li > a {
  color: var(--spring-grey);
}

.btn-default {
  border-width: 2px;
  background-color: var(--spring-brown);
  transition: border 0.15s;
  -webkit-transition: border 0.15s;
  -moz-transition: border 0.15s;
  -o-transition: border 0.15s;
  -ms-transition: border 0.15s;
}
.btn-default:hover:focus:active:open {
  background-color: var(--spring-brown);
    border-color: var(--spring-brown);
}

.container .text-muted {
  margin: 20px 0;
}

code {
  font-size: 80%;
}

.xd-container {
  margin-top: 40px;
  margin-bottom: 100px;
  padding-left: 5px;
  padding-right: 5px;
}

h1 {
  margin-bottom: 15px
}

.index-page--subtitle {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 30px;
}

.form-horizontal button.btn-inverse {
  margin-left: 32px;
}

#job-params-modal .modal-dialog {
  width: 90%;
  margin-left:auto;
  margin-right:auto;
}

[ng-cloak].splash {
  display: block !important;
}
[ng-cloak] {
  display: none;
}

.splash {
  background: var(--spring-green);
  color: var(--spring-brown);
  display: none;
}

.error-page {
  margin-top: 100px;
  text-align: center;
}

.error-page .error-title {
  font-size: 24px;
  line-height: 24px;
  margin: 30px 0 0;
}

table td {
  vertical-align: middle;
}

table td .progress {
  margin-bottom: 0;
}

table td.action-column {
  width: 1px;
}

.help-block {
  color: lighten(var(--text-color), 50%);
}

.xd-containers {
  font-size: 15px;
}

.cluster-view > table td {
  vertical-align: top;
}

.cluster-view .label, .cluster-view .column-block {
  display: block;
}

.cluster-view .input-group-addon {
  width: 0%;
}

.cluster-view {
  margin-bottom: 0;
}

.container-details-table th {
  background-color: lighten(var(--spring-brown), 3%);
  color: var(--spring-light-grey);
}

.status-help-content-table td {
  color: var(--spring-brown);
}

.myspinner {
  animation-name: spinner;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  -webkit-animation-name: spinner;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

hr {
  border-top: 1px dotted var(--spring-brown);
}

/*@import "typographyStyle.css";
@import "headerStyle.css";
@import "responsiveStyle.css";*/
